<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="stylesheet.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>

  <body>
    
    <header class="banner-header">
      <a href="http://localhost:3000/"><h1 class="titre">The Legend Of Zelda</h1></a>
      

      <div class="banner-listGame">
        <input class="search-game" placeholder="Quel Zelda ?" type="text" />
        <button class="search-button">Rechercher</button>
        <button class="reset-button">Effacer</button>
      </div>
      <div class="banner-sommaire">
        <nav>
          <ul>
            <li class="deroulant">
              <a class="color-banner-sommaire" href="http://localhost:3000/">Menu</a>
              <ul class="sous">
                <li>
                  <a href="http://localhost:3000/register">Inscription</a>
                </li>
                <li><a href="http://localhost:3000/connect">Connexion</a></li>
                <li><a href="http://localhost:3000/profil">Profil</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
