<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="style404.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm lost</title>
</head>
<body>
    <h1>404</h1>
    <img class="img-404" src="https://www.okiwoki.com/images/produits/parodies-jeux-video/the-legend-ofme-pull-enfant-noir-h-11-12-ans_4.jpg" alt="Zelda">
    <div class="sos">
        <h2 class="sos-titre">Je suis perdu</h2>
    </div>
    <div class="flash"> <a href="http://localhost:3000/"> Retour accueil </a></div>
    <div class="flash1"></div>
    <div class="flash2"></div>
    <div class="flash3"></div>
    <div class="flash4"></div>

    <div class="flash5"></div>
    <div class="flash6"></div>
</body>
</html>