<%- include('partials/header'); -%>




<h2>Connexion</h2>
<form action="traitement.php" method="post">
  <label class="form"  for="nom">Pseudo :</label>
  <input  type="text" id="nom" name="nom" required />

  <label class="form" for="motdepasse">Mot de passe :</label>
  <input
    type="password"
    id="motdepasse"
    name="motdepasse"
    required
  />


 <input id="valid-form" type="submit" value="Envoyer" />
</form>

<%- include('partials/footer'); -%>






</body>
</html>
