
    <%- include('partials/header'); -%>

    <div>
      <h2>Bienvenue en terre d'Hyrule</h2>
      
    </div>

    <div class="array">
      <table class="target-array"></table>
    </div>
    <script src="../public/app.js"></script>
  </body>
</html>
