<%- include('partials/header'); -%>

<div>
  <h2>Bienvenue en terre d'Hyrule</h2>
</div>

<div class="texte-index">

  <div class="bloc1">
    
    <span class="zelda-titre-index">The Legend Of Zelda</span>, une sErie de
    jeux vidEo emblEmatique qui a dEbutE en 1986. CrEEe par le cElEbre
    dEveloppeur de jeux vidEo japonais, Shigeru Miyamoto,
  </div>
  <div class="bloc2">
    <img src="https://img1.picmix.com/output/pic/normal/6/9/7/6/9386796_cbacc.gif" alt="" class="index-img">
    la sErie Zelda suit les aventures Epiques du courageux hEros Link alors
    qu'il explore des mondes fantastiques, combat des ennemis redoutables et
    rEsout des Enigmes complexes pour sauver la princesse Zelda et protEger le
    royaume d'Hyrule.
  </div>
  <div class="bloc3">
    
    La sErie Zelda est connue pour sa narration immersive, ses graphismes
    magnifiques, sa musique captivante et ses personnages mEmorables, faisant
    d'elle l'une des franchises de jeux vidEo les plus apprEciEes de tous les
    temps.
  </div>
</div>

<div class="array">
  <table class="target-array"></table>
</div>

<%- include('partials/footer'); -%>
