<%- include('partials/header'); -%>
    
      <h2>Profil</h2>
<div class="contain-profil">
      <img class="img-profil"
        src="https://qph.cf2.quoracdn.net/main-qimg-c8ec01398ee51059af255a21510259a2-pjlq"
        alt="Link"
      />
      <h2>Link</h2>
      <p>Prénom, age, sexe</p>
      <p>favori</p>
      <p>haut fait</p>
    </div>
     

    <%- include('partials/footer'); -%>
