<%- include('partials/header'); -%>
    
      <h2>Profil</h2>
<div class="contain-profil">
  <div class="bloc-img">
      <img class="img-profil"
        src="https://qph.cf2.quoracdn.net/main-qimg-c8ec01398ee51059af255a21510259a2-pjlq"
        alt="Link"
      />
    </div>
      <div class="bloc-profil">
      <h2>Pseudo: Link</h2>
      <p>Favori: Sauver Zelda</p>
      <p>Haut fait: N'avoir jamais prononcer un mot</p>
    </div>
    </div>
     

    <%- include('partials/footer'); -%>
