body {
  background-image: url(./img/pxfuel.jpg);
  margin: 0;
  font-family: "zelda", "sans-serif";
}

@font-face {
  font-family: "zelda";
  src: url("./img/The\ Wild\ Breath\ of\ Zelda.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.banner {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgba(7, 53, 19, 0.926);
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 2px solid white;
}
.titre {
  font-size: 40px;
  font-weight: lighter;
  color: rgb(187, 184, 7);
  margin-left: 11px;
  height: 40%;
  border: 2px solid rgb(251, 251, 251);
  padding: 10px;
}
h2 {
  text-align: center;
  font-size: 80px;
  
  color: rgb(187, 184, 7);
}

.img {
  margin: 5%;
  width: 40%;
  animation: apparence 6s;
}

.img-article {
  width: 200px;
}

.lien {
  color: blue;
  transition: all 3s;
  opacity: 1;
}
.lien:hover {
  font-size: 40px;
  color: rgb(19, 19, 202);
  opacity: 0.5;
}
.target-array {
  display: flex;
  position: absolute;
  left: 500px;
  top: 300px;
}

tr {
  padding: 20px;

  flex-grow: 3;
}

#cell-desc {
  padding: 20px 80px;
}

td {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}
.array {
  position: absolute;
  left: 30px;
  top: 20px;
}
.p-array {
  margin: 10px;
}
.connect,
.regist {
  font-weight: bold;
  color: black;
  transition: all 2s;
}

.connect {
  position: absolute;
  top: 20px;
  right: 20px;
}

.regist {
  right: 20px;
  top: 40px;
  position: absolute;
}

a:hover {
  color: blue;
}
.listGame {
  color: rgb(187, 184, 7);
  width: 15%;
  padding-top: 9px;
}
input {
  width: 96%;
  margin-bottom: 5px;
}
button {
  margin: 5px 0px;
}
.search-button,
.reset-button {
  width: 100%;
}
/* approfondir les Keyframes pour les animations css */

@-webkit-keyframes apparence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Barre de navigation du user */
.user {
  /*position:absolute; */
  right: 60px;
  top: 30px;
}

.color-sommaire {
  color: rgb(187, 184, 7);
  border: 2px solid white;
  padding: 5px;

  font-size: 40px;
}
nav {
  color: white;
  width: 100%;
  margin-right: 57px;
  background-color: white;
  position: sticky;
  top: 0px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  float: left;
  width: 50%;
  text-align: left;
  position: relative;
  margin-right: 30px;
  padding-right: 20px;
}

nav ul::after {
  content: "";
  display: table;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous {
  display: block;
}

.sous li {
  float: none;
  width: 70%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}
.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant > a::after {
  content: "▼";
  font-size: 12px;
}
/* fin de barre de nav du user */
